@charset "utf-8";
.np-title {
	text-align: center;
	font-family: "標楷體", "新細明體";
	color: #020065;
	font-size: 60px;
}
#ymnp {
	position: absolute;
	right: 150px;
	top: 300px;
	visibility: hidden;
}
#spnp {
	position: absolute;
	top: 600px;
	right: 150px;
}
#tlknp {
	position: absolute;
	top: 900px;
	right: 150px;
	visibility: hidden;
}