@charset "utf-8";
.text-1 {
    color: #7070FF;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.text-2 {
    color: #551A8B;
    text-align: center;
    font-variant: normal;
    font-weight: bold;
    font-size: 16px;
}
.text-3 {
    color: #27408B;
    font-size: 16px;
    font-family: "微軟正黑體", "標楷體";
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.pic-success {
    margin: 5;
    padding: 5;
    float: left;
    width: 300px;
    height: 200px;
    background-color: #001196;
    border: thick double;
    background-image: -webkit-linear-gradient(270deg,rgba(210,133,255,1.00) 0%,rgba(0,3,147,1.00) 95.34%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(210,133,255,1.00) 0%,rgba(0,3,147,1.00) 95.34%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(210,133,255,1.00) 0%,rgba(0,3,147,1.00) 95.34%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(210,133,255,1.00) 0%,rgba(0,3,147,1.00) 95.34%,rgba(255,0,0,1.00) 100%);
}
